<div class="invitation">
      <h1><span class="red">Ambrosed</span> <span class="blue">Invitation</span></h1>
      <h2>19 September</h2>
      <p>Thank you <%= @user.name %> for joining Be Ambrosed Event</p>
      <p>Have fun and be <span class="red">Ambrosed</span>!</p>
</div>
    