<%= render 'header' %>
<div class="invitation">
  <h4 class="text-center">Thank you <%=@user.name%> for joining us an invitation email is sent to <%= @user.email%></h4>
  <div class="text-center">
    <%= link_to "return Home page", root_path%>
  </div><!-- text-center -->

</div><!-- invitation -->
