 <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
           <a class="navbar-brand" href="#featured"><img class="brand" src="/assets/ambrosed-logo.png" alt=""></a>
        </div><!-- navbar-header -->
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#map">Map</a></li>
          </ul>
        </div><!-- collapse navbar-collapse -->  
        
      </div><!-- container -->
      
    </nav>
 </header>
<div id="home">
  <div class="jumbotron">
   <h1 class="text-center">Be Ambrosed</h1>
   <h2 class="text-center">Ultimate foodies event</h2>
   <hr>   
   <time datetime="2014-09-20" class="icon">
    <em>Saturday</em>
    <strong>September</strong>
    <span>19</span>
   </time>  
  </div>
</div><!-- home -->

<div class="page" id="overview">

  <div class="container">
    <div class="jumbotron">
       <h2 class="text-center">Overview</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          Ambrosed orgonize a new event for this year to get closer with the customers and show it's awesomeness.
        </p>
        <p>
          This event will be two days event animated with amazing speakers, savoured with yummy food and many gifts to win. </p>
          <div class="text-center">
            <%= link_to 'Join Us', new_user_path, {class: 'btn btn-primary btn-lg text-center'} %>
          </div>
          
       
      </div><!-- col-md-4 -->
    </div><!-- row -->  
    </div>
   
  </div><!-- container -->
</div><!-- overview -->
<div class="page" id="schedule">
  <h2 class="text-center">Our schedule</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="firstDay">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Saturday September 19th
            </a>
          </h4>
        </div><!-- firstDay -->
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="firstDay">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>9:30 am</td>
                <td>Welcome</td>
                <td>Welcoming</td>
              </tr>
              <tr>
                <td>10:30 am</td>
                <td>Opening Ceremony</td>
                <td>meet Ambrosed stuff</td>
              </tr>
              <tr>
                <td>12:30 am</td>
                <td>Launch</td>
                <td>taste our yummy food</td>
              </tr>
              <tr>
                <td>13:30 am</td>
                <td>Flash conference</td>
                <td>get great tips and advice from our chief</td>
              </tr>
              <tr>
                <td>14:30 am</td>
                <td>Quiz time</td>
                <td>Answer the quiz and get a chance to win top gifts</td>
              </tr>
              <tr>
                <td>14:45 am</td>
                <td>Flash conference/td>
                <td>All you need to know about restauration</td>
              </tr>
              <tr>
                <td>16:00 am</td>
                <td>Quiz time</td>
                <td>Answer the quiz and get a chance to win top gifts</td>
              </tr>
            </table>
          </div><!-- panel-body -->
        </div>
      </div><!-- panel panel-default -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="secondDay">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Sunday September 20th
            </a>
          </h4>
        </div><!-- secondDay -->
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="secondDay">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>8:00 am</td>
                <td>Breakfast</td>
                <td>Energetic breakfast with us!</td>
              </tr>
              <tr>
                <td>10:30 am</td>
                <td>Flash conference</td>
                <td>meet top restaurants chiefs</td>
              </tr>
              <tr>
                <td>12:30 am</td>
                <td>Launch</td>
                <td>taste our yummy food</td>
              </tr>
              <tr>
                <td>13:30 am</td>
                <td>Flash conference</td>
                <td>get great tips and advice from our chief</td>
              </tr>
              <tr>
                <td>14:30 am</td>
                <td>Quiz time</td>
                <td>Answer the quiz and get a chance to win top gifts</td>
              </tr>
              <tr>
                <td>16:00 am</td>
                <td>Gift time</td>
                <td>Gifts for our winners</td>
              </tr>
              <tr>
                <td>16:30 am</td>
                <td>Conclusion</td>
                <td>final word to be ambrosed!</td>
              </tr>
            </table>
          </div><!-- panel-body -->
        </div>
      </div><!-- panel panel-default --> 
    </div><!-- panel-group -->
  </div><!-- schedule --> 

    </div><!-- col-md-7 -->  
  </div><!-- row -->
  
 <div class="page" id="speakers">
    <div class="container-fluid">
      <h2 class="text-center">Our Speakers</h2>
      <div class="row">

        
        <div class="speaker col-lg-4">
          <div class="row"> 
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="assets/rachael-r.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo --> 
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Rachael Ray</h3>
              <p>is an American television personality, businesswoman, celebrity cook and author. She hosts the syndicated daily talk and lifestyle program Rachael Ray, and three Food Network series </p>
            </div><!-- info -->
          </div><!-- inner row -->
          
          
        </div> <!-- speaker -->

        <div class="speaker col-lg-4">
          <div class="row"> 
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="assets/wolfgang.jpg"  alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Wolfgang Puck</h3>
              <p>is an Austrian-born American celebrity chef, restaurateur, and occasional actor.</p>
            </div><!-- info -->
          </div><!-- inner row -->
        </div> <!-- speaker -->

        <div class="speaker col-lg-4">
          <div class="row"> 
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="assets/jamie-oliver.gif" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">              
              <h3>Jamie Oliver</h3>
              <p> is an English celebrity chef, restaurateur, and media personality known for his food-focused television shows, cookbooks and more recently his global campaign for better food education.</p>
            </div><!-- info -->
          </div><!-- inner row -->
        </div> <!-- speaker -->


      </div><!-- outer row -->
      
    </div><!-- container -->
    
  </div><!-- staff page -->



<div class="container">
  <h2 class="text-center page">Location</h2>
  <div  id="map">
  
</div><!-- map -->   
</div><!-- container -->

<footer>
  <p class="text-center">All contents &copy; 2015 Ambrosed. All rights reserved</p>
</footer>    

 <script src="https://maps.googleapis.com/maps/api/js"></script>