<!DOCTYPE html>
<html>
  <head>
    <style>
      .invitation{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        border: 1px solid grey;
      }
      .red{
        color: #bf1e2e;
      }
      .blue{
        color: #337ab7;
      }
    </style>
   
  </head>
  <body>
    <%= yield %>
  </body>
</html>
